body{
	margin: 0; padding: 0;background-image: url("../img/comp/bk.png");
	background-repeat: repeat-x; background-color: #EEE;
}

a{
	text-decoration: none;
	color: #404E90;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
a:link{text-decoration: none;}
a:active{text-decoration: none;}
a:hover{text-decoration: none; text-shadow: 0 0 3px #4DA6FF;}
p{font-family: 'Open Sans', sans-serif;}

h4, h3{margin: 0; padding: 0; font-weight: normal;}

#topo-all{
	position: relative; width: 100%; height: 150px;
	background-color: #FFF; display: block;
}
#topo{
	position: relative; width: 968px; height: 140px;
	top: 5px; margin-left: auto; margin-right: auto;
}
#logo{position: absolute; }
#empresas{
	position: absolute; width: 423px; height: 97px;
	top: 25px; right: 0; display: block;
}
.logo-empresas{position: relative; display: inline-block;}
#menu{
	position: relative; width: 100%; height: 41px;
	background-color: #E9E9E9;

	box-shadow: 0 1px 5px #AAA; 
}
#menu-in{
	position: relative; width: 968px; top: 7px;
	margin-left: auto; margin-right: auto; 
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em; color: #404E90;
	text-shadow: 1px 1px 1px #FFF;
}
#menu-in ul{margin: 0; padding: 0;}
#menu-in li{display: inline-block; padding-right: 15px;}

.hr{
	position: relative; width: 95%; height: 3px;
	margin-right: auto; margin-left: auto; 
	background-image: url("img/hr.png"); 
	background-repeat: repeat-x; display: block;
}
.hr-{
	position: relative; width: 95%; height: 3px;
	left: 0;
	background-image: url("img/hr-.png"); 
	background-repeat: no-repeat; display: block;
}
.-hr{
	position: relative; width: 935px; height: 1px;
	left: 0; margin-right: auto; margin-left: auto; 
	background-image: url("img/ahr.png"); 
	background-repeat: repeat-x; display: block;
}
.title{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em; color: #394685; 
}
.sect-title{
	font-family: 'Open Sans', sans-serif;
	font-size: .8em; color: #545454; 
}
.title-space{
	position: relative; width: 680px; height: 3px;
	left: 0; display: table;
	background-image: url("../img/comp/img-comp/title-space.png"); 
	background-repeat: no-repeat;
}
/*====================================================================
	Block Left 
====================================================================*/
#block-left{
	position: absolute; width: 250px;
	display: inline-table; margin-right: 18px;
}
.info-left-block{
	position: relative; display: block; margin-bottom: 12px;
}
/* start -menu left- */
	.title-menu-left{
		height: 32px; list-style: none;
		vertical-align: middle; font-weight: bold; font-size: 1.1em;
		position: relative; padding-top: 8px; padding-left: 10px;
		color: #FFF; 
		text-shadow: 0 0 3px #000;
		/* Gradient */
			background-image: linear-gradient(rgb(94,108,185) 16%, rgb(58,70,133) 100%);
			background-image: -o-linear-gradient(bottom, rgb(94,108,185) 16%, rgb(58,70,133) 100%);
			background-image: -moz-linear-gradient(bottom, rgb(94,108,185) 16%, rgb(58,70,133) 100%);
			background-image: -webkit-linear-gradient(bottom, rgb(94,108,185) 16%, rgb(58,70,133) 100%);
			background-image: -ms-linear-gradient(bottom, rgb(94,108,185) 16%, rgb(58,70,133) 100%);

			background-image: -webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0.16, rgb(94,108,185)),
				color-stop(1, rgb(58,70,133))
			);
		/* Gradient */
	}
	#menu-left{
		position: relative; width: 250px; left: 0;
		font-family: 'Open Sans', sans-serif;
		box-shadow: 0 0 5px #AAA;
	}
	#menu-left ul{padding: 0;}
	#menu-left li{list-style: none;}
	.menu-itens{
		height: 30px; list-style: none;
		vertical-align: middle; 
		position: relative; padding-top: 10px; padding-left: 20px;
		/* Gradient */
			background-image: linear-gradient(rgb(204,204,204) 16%, rgb(240,240,240) 100%);
			background-image: -o-linear-gradient(bottom, rgb(204,204,204) 16%, rgb(240,240,240) 100%);
			background-image: -moz-linear-gradient(bottom, rgb(204,204,204) 16%, rgb(240,240,240) 100%);
			background-image: -webkit-linear-gradient(bottom, rgb(204,204,204) 16%, rgb(240,240,240) 100%);
			background-image: -ms-linear-gradient(bottom, rgb(204,204,204) 16%, rgb(240,240,240) 100%);

			background-image: -webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(0.16, rgb(204,204,204)),
				color-stop(1, rgb(240,240,240))
			);
		/* Gradient */
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
		-ms-transition: all .5s ease-in-out;
		transition: all .5s ease-in-out;
	}
	.menu-itens:hover{
		color: #FFF;
		text-shadow: 1px 1px 1px #000; 
		cursor: pointer;
		/* Gradient */
			background-image: linear-gradient(rgb(187,187,187) 100%, rgb(204,204,204) 100%);
			background-image: -o-linear-gradient(bottom, rgb(187,187,187) 100%, rgb(204,204,204) 100%);
			background-image: -moz-linear-gradient(bottom, rgb(187,187,187) 100%, rgb(204,204,204) 100%);
			background-image: -webkit-linear-gradient(bottom, rgb(187,187,187) 100%, rgb(204,204,204) 100%);
			background-image: -ms-linear-gradient(bottom, rgb(187,187,187) 100%, rgb(204,204,204) 100%);

			background-image: -webkit-gradient(
				linear,
				left bottom,
				left top,
				color-stop(1, rgb(187,187,187)),
				color-stop(1, rgb(204,204,204))
			);
		/* Gradient */
	}
/* end -menu left- */
/*==================================================================*/
.banner-block-right{
	position: relative; width: 700px;
	display: block; margin-bottom: 18px;
}
#block-right{
	position: relative; width: 700px;
	top: 0; left: 268px; display: inline-table;
}
.promo-top{
	position: relative; width: 201px; height: 165px;
	margin-right: 23px; display: inline-block;
}
/* start -area vip- */
	#area-vip{
		position: absolute; width: 215px; height: 135px;
		padding: 15px;  border-radius: 10px; display: inline-block;
		/* Gradient */
				background-image: linear-gradient(
								  	rgb(60,72,135) 31%, 
								  	rgb(92,106,182) 83%);
				background-image: -o-linear-gradient(
									bottom, rgb(60,72,135) 31%, 
									rgb(92,106,182) 83%);
				background-image: -moz-linear-gradient(
									bottom, rgb(60,72,135) 31%, 
									rgb(92,106,182) 83%);
				background-image: -webkit-linear-gradient(
									bottom, rgb(60,72,135) 31%, 
									rgb(92,106,182) 83%);
				background-image: -ms-linear-gradient(
									bottom, rgb(60,72,135) 31%, 
									rgb(92,106,182) 83%);

				background-image: -webkit-gradient(
					linear,
					left bottom,
					left top,
					color-stop(0.31, rgb(60,72,135)),
					color-stop(0.83, rgb(92,106,182))
				);
		/* Gradient */
	}
	#title-area{
		position: relative;; width: 100%; top: -5px; color: #FFF; 
		text-align: center; text-shadow: 0 0 3px #000;
		font-family: 'Open Sans', sans-serif; font-weight: bold;
	}
	#area-body{
		position: relative; width: 195px; top: 3px;
		margin-left: auto; margin-right: auto; color: #FFF;
		border-top: 1px solid #9AA1CE; text-align: left;
		font-family: 'Open Sans', sans-serif;
	}
	#area-body ul{
		margin: 8px; padding: 0; list-style: none; 
		list-style-position: outside;
	}
	#area-body li{
		height: 24px; margin-bottom: 13px;
	}
/* end -area vip- */
/*==================================================================*/
.footer{
	position: relative; width: 100%; height: 200px; top: 30px;
	background-color: #3C3C3C; display: block;
}
.footer-in{
	position: relative; width: 1000px; height: auto; 
	margin-left: auto; margin-right: auto; color: #FFF;
}
.footer-line{
	position: relative; width: auto; 
	font-family: 'Open Sans', sans-serif; font-size: .9em;
	top: 10px;
}
.footer-line ul{list-style: none; padding: 0; margin-top: 10px;}
.footer-line li{
	display: inline-block; margin-right: 8px; padding: 3px;
	background-color: #3C3C3C;
}
.footer-line li a{color: #FFF;}
.footer-line li a:hover{color: #3C3C3C; text-shadow: 0 0 0;}
.footer-line li:hover{
	background-color: #FFF; color: #3C3C3C; border-radius: 3px;
	cursor: pointer;

	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.COPYRIGHT{
	font-size: .8em; color: #CCC;
}